---
import PageHeader from "@/components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="No encontrado">
  <PageHeader>
    <div class="flex flex-col items-center justify-center gap-10 p-4 md:flex-row">
      <div class="w-full md:w-8/12">
        <img src="/404.svg" alt="404" class="h-auto w-full object-cover" />
      </div>
      <div class="flex w-full flex-col items-center gap-4 md:w-4/12">
        <h1 class="text-center text-3xl font-bold">Nada que ver aquí</h1>
        <p class="text-center text-lg">¿Qué andas buscando, eh?</p>
      </div>
    </div>
  </PageHeader>
</Layout>
