---
import Copy from "@/components/icons/Copy.astro";
import Github from "@/components/icons/Github.astro";
import Linkedin from "@/components/icons/LinkedIn.astro";
import Mail from "@/components/icons/Mail.astro";
import Malt from "@/components/icons/Malt.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import PageHeader from "@/components/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Adrián Palomo | Certifications">
  <PageHeader transitionName="contactDetail" showTrailhead={false}>
    <div class="flex w-full flex-col justify-center lg:w-6/12 lg:flex-row">
      <div class="flex items-center justify-center p-6">
        <article class="flex flex-col gap-6 text-center text-pretty">
          <span class="font-bold"
            >¿Por qué a un freelancer y no una gran compania?</span
          >
          <span>
            La habilidad para comprender tus necesidades en un servicio
            personal(izado) son mucho mayores, encontrando sinergias que crean
            un espacio libre para la creatividad y soluciones reales a problemas
            reales.
          </span>
        </article>
      </div>
    </div>

    <div class="bg-theme-text-light mb-3 h-[1px] w-[80%] lg:hidden"></div>

    <div class="flex flex-col justify-center gap-3 lg:ml-38 lg:w-6/12">
      <div class="flex items-center mb-3">
        <span class="text-pretty italic text-sm"
          >-Únicamente consultoría o proyectos pequeños-</span
        >
      </div>
      <div class="flex items-center gap-3">
        <a
          class="flex items-center gap-2"
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:hi@adrianpalomo.com"
        >
          <Mail class="size-7" />
          <span>hi@adrianpalomo.com</span>
        </a>
        <Copy
          id="copyMail"
          class="hover:stroke-theme-text-light-hover size-5 hover:cursor-copy"
        />
      </div>

      <div>
        <a
          class="hover:cursor flex items-center gap-2"
          target="_blank"
          rel="noopener noreferrer"
          href="https://api.whatsapp.com/send/?phone=%2B34663610856&text&type=phone_number&app_absent=0"
        >
          <WhatsApp class="size-7" />
          <span>WhatsApp</span>
        </a>
      </div>
      <div class="flex gap-2">
        <a
          class="flex items-center gap-2"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/adrianpalomomagan/"
        >
          <Linkedin class="size-7" />
          <span>LinkedIn</span>
        </a>
      </div>
      <div class="flex gap-2">
        <a
          class="flex items-center gap-2"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.malt.es/profile/adrianpalomomagan"
        >
          <Malt class="size-7" />
          <span>Malt</span>
        </a>
      </div>
      <div class="flex gap-2">
        <a
          class="flex items-center gap-2"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/adrianpalomo/"
        >
          <Github class="size-7" />
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </PageHeader>
</Layout>

<script>
  const copyMailBtn = document.getElementById("copyMail");
  if (copyMailBtn) {
    copyMailBtn.addEventListener("click", () => {
      navigator.clipboard.writeText("hi@adrianpalomo.com");

      const originalStroke = copyMailBtn.style.stroke;
      copyMailBtn.style.stroke = "green";

      setTimeout(() => {
        copyMailBtn.style.stroke = originalStroke;
      }, 750);
    });
  }
</script>
