---
import Certifications from "@/components/Certifications.astro";
import Projects from "@/components/Projects.astro";
import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Saludation from "@/components/Saludation.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Home"
  description="Información sobre Adrián Palomo, desarrollador y consultor Full Stack del CRM Salesforce, disponible para proyectos freelance."
  canonical="https://www.adrianpalomo.com"
>
  <main
    class="flex w-full flex-col gap-6 md:grid md:grid-cols-3 md:grid-rows-6 md:gap-8 xl:max-h-[700px] xl:grid-cols-8 xl:grid-rows-5"
  >
    <Saludation />
    <Projects />
    <Experience />
    <Certifications />
    <About />
  </main>
</Layout>
