---
import Certifications from "@/components/Certifications.astro";
import Contact from "@/components/Contact.astro";
import Legal from "@/components/Legal.astro";
import Projects from "@/components/Projects.astro";
import About from "@/components/About.astro";
import Blog from "@/components/Blog.astro";
import Experience from "@/components/Experience.astro";
import Saludation from "@/components/Saludation.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div
    class="grid w-full grid-cols-3 grid-rows-8 gap-8 md:grid-cols-3 md:grid-rows-7 xl:max-h-[700px] xl:grid-cols-8 xl:grid-rows-5"
  >
    <!-- Saludation -->
    <section
      class="order-1 col-span-3 row-span-1 rounded-lg bg-black/45 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04] md:order-1 md:col-span-3 md:row-span-1 xl:col-span-3 xl:row-span-2"
    >
      <Saludation />
    </section>

    <!-- Projects -->
    <section
      class="order-2 col-span-3 row-span-2 md:order-2 md:col-span-3 md:row-span-2 xl:col-span-5 xl:row-span-3"
      transition:name="projectsDetail"
    >
      <Projects />
    </section>

    <!-- Experience -->
    <section
      class="order-3 col-span-3 row-span-2 rounded-lg bg-black/60 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04] md:order-3 md:col-span-2 md:row-span-2 xl:col-span-3 xl:row-span-3"
    >
      <Experience />
    </section>

    <!-- Certifications -->
    <section
      class="order-4 col-span-3 row-span-1 rounded-lg bg-black/60 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04] md:order-4 md:col-span-1 md:row-span-2 xl:order-5 xl:col-span-3 xl:row-span-1"
      transition:name="certificationsDetail"
    >
      <a href="/CertificationsDetail">
        <Certifications />
      </a>
    </section>

    <!-- About  -->
    <section
      class="order-5 col-span-3 row-span-1 rounded-lg bg-black/65 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04] md:order-5 md:col-span-3 md:row-span-1 xl:order-4 xl:col-span-2 xl:row-span-2"
    >
      <About />
    </section>

    <!-- Contact -->
    <section
      class="order-6 col-span-1 row-span-1 rounded-lg bg-black/95 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04]"
      transition:name="contactDetail"
    >
      <a href="/ContactDetail">
        <Contact />
      </a>
    </section>

    <!-- Blog -->
    <section
      class="order-6 col-span-1 row-span-1 rounded-lg bg-black/90 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04]"
    >
      <a href="/">
        <Blog />
      </a>
    </section>

    <!-- Legal -->
    <section
      class="order-6 col-span-1 row-span-1 rounded-lg bg-black/80 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04]"
      transition:name="legalDetail"
    >
      <a href="/LegalDetail">
        <Legal />
      </a>
    </section>
  </div>
</Layout>
