---
import Certifications from "@/components/Certifications.astro";
import Contact from "@/components/Contact.astro";
import Legal from "@/components/Legal.astro";
import Projects from "@/components/Projects.astro";
import About from "@/components/About.astro";
import Blog from "@/components/Blog.astro";
import Experience from "@/components/Experience.astro";
import Saludation from "@/components/Saludation.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="grid h-full w-full gap-8 grid-cols-10 grid-rows-5">
    <!-- Saludation -->
    <section
      class="col-span-3 row-span-2 bg-black/45 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
    >
      <Saludation />
    </section>

    <!-- Projects -->
    <section class="col-span-7 row-span-3" transition:name="projectsDetail">
      <Projects />
    </section>

    <!-- Experience -->

    <section
      class="col-span-3 row-span-3 bg-black/60 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
    >
      <Experience />
    </section>

    <!-- About -->
    <section
      class="col-span-3 row-span-2 bg-black/65 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
    >
      <About />
    </section>

    <!-- Certifications -->

    <section
      class="col-span-4 row-span-1 bg-black/60 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
      transition:name="certificationsDetail"
    >
      <a href="/CertificationsDetail">
        <Certifications />
      </a>
    </section>

    <!-- Contact -->

    <section
      class="col-span-2 row-span-1 bg-black/95 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
      transition:name="contactDetail"
    >
      <a href="/ContactDetail">
        <Contact />
      </a>
    </section>
    <!-- Blog -->

    <section
      class="col-span-1 row-span-1 bg-black/90 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
    >
      <a href="/">
        <Blog />
      </a>
    </section>

    <!-- Legal -->

    <section
      class="col-span-1 row-span-1 bg-black/80 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808] transition-transform duration-300 hover:scale-[1.04]"
      transition:name="legalDetail"
    >
      <a href="/LegalDetail">
        <Legal />
      </a>
    </section>
  </div>
</Layout>
