---
import PageHeader from "@/components/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const legal = await getCollection("legal");
const legalContent = legal[0];
const { Content } = await render(legalContent);
---

<Layout
  title="Legal"
  description="Información legal del Portfolio de Adrián Palomo, desarrollador Salesforce Full Stack"
  canonical="https://www.adrianpalomo.com/legal",
  index={false}
>
  <PageHeader>
    <div class="flex flex-col items-center gap-2">
      <article
        class="prose prose-stone prose-invert mb-14 flex w-full flex-col text-justify"
      >
        <Content />
      </article>
    </div>
  </PageHeader>
</Layout>
