---
import PageHeader from "@/components/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import { tools } from "../consts/tools";
import Picker from "@/components/Picker.astro";
---

<Layout
  title="Herramientas"
  description="Herramientas de Adrián Palomo, desarrollador Salesforce Full Stack"
  canonical="https://www.adrianpalomo.com/tools"
>
  <PageHeader>
    {
      tools.map((tool) => (
        <a href={tool.path}>
          <Picker title={tool.title} />
        </a>
      ))
    }
  </PageHeader>
</Layout>
