---
import More from "./icons/More.astro";
---

<section
  class="order-5 flex h-full w-full items-center justify-center rounded-lg bg-black/55 px-5 py-4 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform  hover:scale-[1.04] md:order-5 md:col-span-3 md:row-span-1 xl:order-4 xl:col-span-3 xl:row-span-2"
  transition:name="aboutDetail"
>
  <a
    href="/AboutDetail"
    class="flex h-full flex-col items-center justify-center gap-4"
  >
    <div
      class="flex h-[90%] w-full items-center justify-center gap-4 md:overflow-auto"
    >
      <span class="text-theme-text-light text-pretty">
        Tratando de entender el por qué de las cosas, descubro
        que como base indispensable para conseguir una meta propuesta debe
        haber: <span class="text-theme-remark">
          pasión, esfuerzo constante e inteligencia</span
        >,
        <span class="italic">sazonando todo esto con una pizca de suerte</span>.
        De esta forma la distancia entre un objetivo propuesto y uno conseguido
        es solo eso, distancia.
      </span>
    </div>
    <div class="flex w-full justify-end">
      <More />
    </div>
  </a>
</section>
