<section class="h-full">
  <div class="flex h-full items-center justify-center gap-4 p-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis ex
    sunt quidem ipsum eaque, molestias exercitationem debitis ea consequuntur
    fugit voluptates natus hic maxime veniam optio, illum officia nobis!
  </div>
</section>
