<section class="h-full">
    <div class="flex justify-center items-center h-full p-8 gap-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis ex sunt quidem ipsum eaque, molestias exercitationem debitis ea consequuntur fugit voluptates natus hic maxime veniam optio, illum officia nobis!
    </div>
</section>