<section class="h-full">
  <div
    class="flex h-full flex-wrap items-center justify-center gap-2 p-4 xl:gap-2 xl:px-2"
  >
    <img
      class="w-18 opacity-80"
      src="/images/jd1.webp"
      alt="Salesforce Certification - Javascript Developer 1"
      transition:name="jd1"
    />
    <img
      class="w-18 opacity-80"
      src="/images/pd2.webp"
      alt="Salesforce Certification - Plarform Developer 2"
      transition:name="pd2"
    />
    <img
      class="w-18 opacity-80"
      src="/images/pd1.webp"
      alt="Salesforce Certification - Plarform Developer 1"
      transition:name="pd1"
    />
    <img
      class="w-18 opacity-80"
      src="/images/afs.webp"
      alt="Salesforce Certification - Agentforce Specialist"
      transition:name="afs"
    />
    <img
      class="w-18 opacity-80"
      src="/images/admin.webp"
      alt="Salesforce Certification - Administrator"
      transition:name="admin"
    />
    <img
      class="w-18 opacity-80"
      src="/images/pab.webp"
      alt="Salesforce Certification - Platform App Builder"
      transition:name="pab"
    />
    <img
      class="w-18 opacity-80"
      src="/images/aiAss.webp"
      alt="Salesforce Certification - AI Associate"
      transition:name="aiAss"
    />
    <img
      class="w-18 opacity-80"
      src="/images/ass.webp"
      alt="Salesforce Certification - Associate"
      transition:name="ass"
    />
  </div>
</section>
