<section
  class="order-4 h-full w-full rounded-lg bg-black/50 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04] md:order-4 md:col-span-1 md:row-span-2 xl:order-5 xl:col-span-2 xl:row-span-2"
  transition:name="certificationsDetail"
>
  <a href="/CertificationsDetail">
    <div
      class="flex h-full flex-wrap items-center justify-center gap-2 p-4 xl:gap-2 xl:px-2"
    >
      <img
        class="w-18 opacity-80"
        src="/images/certs/jd1.webp"
        alt="Salesforce Certification - Javascript Developer 1"
        transition:name="jd1"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/pd2.webp"
        alt="Salesforce Certification - Plarform Developer 2"
        transition:name="pd2"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/pd1.webp"
        alt="Salesforce Certification - Plarform Developer 1"
        transition:name="pd1"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/afs.webp"
        alt="Salesforce Certification - Agentforce Specialist"
        transition:name="afs"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/admin.webp"
        alt="Salesforce Certification - Administrator"
        transition:name="admin"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/pab.webp"
        alt="Salesforce Certification - Platform App Builder"
        transition:name="pab"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/aiAss.webp"
        alt="Salesforce Certification - AI Associate"
        transition:name="aiAss"
      />
      <img
        class="w-18 opacity-80"
        src="/images/certs/ass.webp"
        alt="Salesforce Certification - Associate"
        transition:name="ass"
      />
    </div>
  </a>
</section>
