<section class="h-full">
  <div class="flex h-full items-center justify-center px-6 py-10">
    <div class="-my-6">
      <!-- Item #1 -->
      <div class="group relative py-2 pl-8 sm:pl-26">
        <!-- Purple label -->
        <span class="text-theme-text-light mb-1 text-xl sm:mb-0">Minsait</span>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="after:bg-theme-text-dark mb-1 flex flex-col items-start before:absolute before:left-2 before:h-full before:-translate-x-1/2 before:translate-y-3 before:self-start before:bg-slate-300 before:px-px group-last:before:hidden after:absolute after:left-2 after:box-content after:h-2 after:w-2 after:-translate-x-1/2 after:translate-y-1.5 after:rounded-full after:border-4 after:border-slate-50 sm:flex-row sm:before:left-0 sm:before:ml-[5rem] sm:after:left-0 sm:after:ml-[5rem]"
        >
          <span
            class="text-theme-text-light bg-theme-text-dark left-0 mb-3 inline-flex h-6 w-15 translate-y-0.5 items-center justify-center rounded-full text-xs font-semibold uppercase sm:absolute sm:mb-0"
            >2021</span
          >
          <span class="text-theme-text-light2 font-bold"
            >Jr. Salesforce developer</span
          >
        </div>
        <!-- Content -->
        <span class="text-theme-text-light3">
          Implementación de desarrollos, especializándome en Salesforce y
          explorando todas sus posibilidades.
        </span>
      </div>

      <!-- Item #2 -->
      <div class="group relative py-2 pl-8 sm:pl-26">
        <!-- Purple label -->
        <span class="text-theme-text-light mb-1 text-xl sm:mb-0">Idealista</span
        >
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="after:bg-theme-text-dark mb-1 flex flex-col items-start before:absolute before:left-2 before:h-full before:-translate-x-1/2 before:translate-y-3 before:self-start before:bg-slate-300 before:px-px group-last:before:hidden after:absolute after:left-2 after:box-content after:h-2 after:w-2 after:-translate-x-1/2 after:translate-y-1.5 after:rounded-full after:border-4 after:border-slate-50 sm:flex-row sm:before:left-0 sm:before:ml-[5rem] sm:after:left-0 sm:after:ml-[5rem]"
        >
          <span
            class="text-theme-text-light bg-theme-text-dark left-0 mb-3 inline-flex h-6 w-15 translate-y-0.5 items-center justify-center rounded-full text-xs font-semibold uppercase sm:absolute sm:mb-0"
            >2023</span
          >
          <span class="text-theme-text-light2 font-bold"
            >Sr. Salesforce Developer</span
          >
        </div>
        <!-- Content -->
        <span class="text-theme-text-light3">
          Diseñar soluciones de alto impacto, combinando perfiles funcionales y
          técnicos, con el objetivo de integrar IA en los procesos clave del
          negocio.
        </span>
      </div>
    </div>
  </div>
</section>
