<section class="h-full">
  <div class="flex justify-center items-center h-full p-5">
    <div class="-my-6">
      <!-- Item #1 -->
      <div class="relative pl-8 sm:pl-26 py-2 group">
        <!-- Purple label -->
        <span class="text-xl text-theme-text-light mb-1 sm:mb-0">Minsait</span>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[5rem] after:-translate-x-1/2 after:translate-y-1.5"
        >
          <span
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-15 h-6 mb-3 sm:mb-0 text-theme-text-light bg-theme-secondary rounded-full"
            >2021</span
          >
          <span class="font-bold text-theme-text-light2">Jr. Salesforce developer</span>
        </div>
        <!-- Content -->
        <span class="text-theme-text-light3">
          Implementación de desarrollos, especializándome en Salesforce y
          explorando todas sus posibilidades.
        </span>
      </div>

      <!-- Item #2 -->
      <div class="relative pl-8 sm:pl-26 py-2 group">
        <!-- Purple label -->
        <span class="text-xl text-theme-text-light mb-1 sm:mb-0">Idealista</span>
        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
        <div
          class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[5rem] after:-translate-x-1/2 after:translate-y-1.5"
        >
          <span
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-15 h-6 mb-3 sm:mb-0 text-theme-text-light bg-theme-secondary rounded-full"
            >2023</span
          >
          <span class="font-bold text-theme-text-light2">Sr. Salesforce Developer</span>
        </div>
        <!-- Content -->
        <span class="text-theme-text-light3">
          Diseñar soluciones de alto impacto, combinando perfiles funcionales y
          técnicos, con el objetivo de integrar IA en los procesos clave del
          negocio.
        </span>
      </div>
    </div>
  </div>
</section>
