<section class="w-full bg-black/80 backdrop-blur-sm rounded-lg shadow-[0px_0px_32px_-3px_#080808]">
  <header class="flex items-center justify-between h-full -mt-1 px-12">
    <a href="https://adrianpalomo.com/">
      <div class="selectable group flex flex-col -mt-1">
        <h1
          class="text-[23pt] tracking-[0.2rem] text-text-light group-hover:tracking-[0.3rem] group-hover:text-[25pt] transition-all duration-300"
        >
          Adrián Palomo
        </h1>
        <h2
          class="text-lg -mt-3 text-text-light group-hover:text-xl transition-all duration-300"
        >
          <span
            class="relative inline-block text-[12pt] after:-mb-1 text-text-light after:block after:h-[1px] after:bg-text-light after:scale-x-0 after:origin-left group-hover:after:scale-x-100 group-hover:after:origin-left duration-300 after:transition-all after:duration-300 group-hover:text-[13pt]"
          >
            End-2-End
          </span>
          Salesforce Expert
        </h2>
      </div>
    </a>
    <a href="https://www.idealista.com/" target="_blank">
      <div class="group flex flex-col items-end text-sm text-text-light">
        <div>Currently working at</div>
        <div
          class="font-bold text-base group-hover:text-lg bg-transparent group-hover:bg-[#e1f56e] -mt-1 group-hover:py-[2.5px] group-hover:px-[5px] group-hover:mt-[0.2px] transition-all duration-300 group-hover:text-black"
        >
          idealista
        </div>
      </div>
    </a>
    <nav class="flex space-x-6">
      <a
        href="mailto:hi@adrianpalomo.com"
        class="text-text-light hover:text-text-light-hover duration-300"
        >Email</a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/in/adrianpalomomagan/"
        class="text-text-light hover:text-text-light-hover duration-300"
        >LinkedIn</a
      >
      <a
        target="_blank"
        href="https://blog.adrianpalomo.com/"
        class="text-text-light hover:text-text-light-hover duration-300">Blog</a
      >
    </nav>
  </header>
</section>
