<header
  class="h-full w-full rounded-lg bg-black/80 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm"
>
  <div class="flex h-full w-full items-center justify-between px-6 md:px-12">
    <div class="flex items-center">
      <a href="/">
        <div class="selectable group flex flex-col">
          <h1
            class="text-theme-text-light text-xl tracking-wider text-nowrap transition-all duration-300 group-hover:text-2xl sm:group-hover:text-3xl md:text-2xl"
          >
            Adrián Palomo
          </h1>
          <h2
            class="text-theme-text-light -mt-1 text-xs transition-all duration-300 group-hover:text-sm md:-mt-2 md:text-lg md:group-hover:text-xl"
          >
            <span
              class="text-theme-text-light after:bg-theme-text-light relative inline-block text-xs text-nowrap duration-300 group-hover:text-sm after:-mb-1 after:block after:h-[1px] after:origin-left after:scale-x-0 after:transition-all after:duration-300 group-hover:after:origin-left group-hover:after:scale-x-100 md:text-lg md:group-hover:text-xl"
            >
              End-2-End
            </span>
            Salesforce Expert
          </h2>
        </div>
      </a>
    </div>
    <div>
      <a
        href="https://www.idealista.com/"
        target="_blank"
        class="hidden md:block"
        rel="noopener noreferrer"
      >
        <div
          class="group text-theme-text-light flex flex-col items-end text-sm"
        >
          <div>Currently working at</div>
          <div
            class="-mt-1 bg-transparent text-base font-bold transition-all duration-300 group-hover:mt-[0.2px] group-hover:bg-[#e1f56e] group-hover:px-[5px] group-hover:py-[2.5px] group-hover:text-lg group-hover:text-black"
          >
            idealista
          </div>
        </div>
      </a>
    </div>
    <nav class="flex flex-col md:flex-row md:items-center md:gap-4">
      <a
        href="/ContactDetail"
        class="text-theme-text-light text-right text-sm md:text-base"
      >
        Contacto
      </a>
      <a
        target="_blank"
        href="https://blog.adrianpalomo.com/"
        class="text-theme-text-light text-right text-sm md:text-base"
        rel="noopener noreferrer"
      >
        Blog
      </a>
    </nav>
  </div>
</header>
