<header
	class="h-full w-full rounded-lg bg-black/80 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm"
>
	<div class="flex h-full w-full items-center justify-between px-6 md:px-12">
		<div class="flex items-center">
			<a href="/">
				<h1 class="selectable group flex flex-col">
					<span
						class="text-theme-text-light text-xl tracking-wider text-nowrap transition-all duration-300 ease-out group-hover:text-2xl group-hover:tracking-wide sm:group-hover:text-3xl md:text-2xl"
					>
						Adrián Palomo<span class="sr-only"> Magán</span>
					</span>
					<span
						class="text-theme-text-light -mt-1 text-xs transition-all duration-300 ease-out group-hover:text-sm group-hover:-mt-0.5 md:-mt-2 md:text-lg md:group-hover:text-xl md:group-hover:-mt-1"
					>
						Salesforce <span
							class="text-theme-text-light after:bg-theme-text-light relative inline-block text-xs text-nowrap transition-all duration-300 ease-out group-hover:text-sm group-hover:scale-105 group-hover:ml-1 after:block after:h-[1px] after:origin-left after:scale-x-0 after:transition-transform after:duration-300 after:ease-out group-hover:after:origin-left group-hover:after:scale-x-100 md:text-lg md:group-hover:text-xl"
						>
							Solution Architect
						</span>
					</span>
				</h1>
			</a>
		</div>
		<div>
			<a
				href="https://www.idealista.com/"
				target="_blank"
				class="hidden hover:cursor-alias md:block"
				rel="noopener noreferrer"
			>
				<div
					class="group text-theme-text-light flex flex-col items-end text-sm"
				>
					<div>Actualmente trabajando en</div>
					<img
						src="/idealista_logo.webp"
						alt="Idealista"
						class="h-6 w-auto transition-all bg-white px-1 py-0.5 group-hover:bg-[#e1f56e] group-hover:scale-130 group-hover:-translate-x-3 group-hover:translate-y-1"
						loading="lazy"
						data-noindex="true"
					/>
				</div>
			</a>
		</div>
		<nav class="flex flex-col md:flex-row md:items-center md:gap-4">
			<a
				href="/ContactDetail"
				class="text-theme-text-light text-right text-sm md:text-base"
			>
				Contacto
			</a>
		</nav>
	</div>
</header>
