---
import ProjectsSlot from "@/components/ProjectsSlot.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";

  const OPTIONS = { align: "start", loop: true };

  const emblaNode = document.querySelector(".embla");
  const viewportNode = emblaNode.querySelector(".embla__viewport");

  const emblaApi = EmblaCarousel(viewportNode, OPTIONS, [Autoplay()]);
</script>

<section class="w-full h-full flex items-center justify-center" >
  <div class="embla w-full h-full">
    <div class="embla__viewport h-full overflow-hidden">
      <div
        class="h-full flex touch-pan-y touch-pinch-zoom ml-[calc(var(--slide-spacing)*-1)]"
      >
        {
          projects.map((project) => {
            return (
              <section class="embla__slide">
                <div class="embla__slide__number rounded-lg flex items-center justify-center h-full select-none bg-black/50 backdrop-blur-sm  shadow-[0px_0px_32px_-3px_#080808]  transition-transform duration-300 hover:scale-[1.03]">
                  <a
                    class="flex flex-col w-full h-full"
                    href={`/projects/${project.id}`}                    
                  >
                    <ProjectsSlot {...project.data} />
                  </a>
                </div>
              </section>
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<style>
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 2rem;
    --slide-size: 45%;
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
</style>
