---
import ProjectsSlot from "@/components/ProjectsSlot.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<script>
  import EmblaCarousel from "embla-carousel";
    import Autoplay from "embla-carousel-autoplay";
  
  document.addEventListener("astro:page-load", () => {
    const OPTIONS = { align: "start", loop: true };

    const emblaNode = document.querySelector(".embla");
    const viewportNode = emblaNode?.querySelector(".embla__viewport");

    const emblaApi = EmblaCarousel(viewportNode, OPTIONS, [Autoplay()]);
  });
</script>

<section class="h-full w-full" >
  <div class="embla h-full w-full">
    <div class="embla__viewport h-full overflow-hidden">
      <div
        class="embla__container ml-[calc(var(--slide-spacing)*-1)] flex h-full touch-pan-y touch-pinch-zoom"
      >
        {
          projects.map((project) => {
            return (
              <section class="embla__slide">
                <div class="embla__slide__numbers flex h-full items-center select-none hover:bg-black/10 transition-all duration-300">
                  <a
                    class="flex h-full w-full flex-col hover:text-theme-text-light"
                    href={`/projects/${project.id}`}
                    
                  >
                    <ProjectsSlot {...project.data} />
                  </a>
                </div>
              </section>
            );
          })
        }
      </div>
    </div>
  </div>
</section>

<style>
  .embla {
    --slide-height: 19rem;
    --slide-spacing: 0rem;
    --slide-size: 90%;
  }

  @media (min-width: 768px) {
    .embla {
      --slide-size: 45%;
      --slide-spacing: 0rem;
    }
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
</style>
