---
interface Props {
  title: string;
  description: string;
  img?: string;
  author: string;
}

const { title, description, img, author } = Astro.props;
---

<section>
  <div class="flex h-full w-full flex-col gap-10 p-6">
    <h1 class="text-center text-3xl font-bold">{title}</h1>
    <div class="flex h-full w-full flex-col text-center">
      {description}
    </div>
  </div>
</section>
