<section
  class="order-1 flex h-full w-full items-center justify-center rounded-lg bg-black/45 p-6 shadow-[0px_0px_32px_-3px_#080808] backdrop-blur-sm transition-transform duration-300 hover:scale-[1.04] md:order-1 md:col-span-3 md:row-span-1 xl:col-span-3 xl:row-span-2"
>
  <span class="text-theme-text-light2 overflow-auto text-wrap">
    <img
      class="float-left mr-4 size-21"
      src="/images/profile.webp"
      alt="Foto de perfil"
      style="shape-outside: circle(50%); clip-path: circle(50%);"
    />
    A mis abuelos les digo que soy informático, para los entendidos: <i
      class="text-theme-remark italic">Full-stack Salesforce Developer</i
    ><br /><br />
    Me focalizo en optimizar procesos de venta formando un nodo entre negocio y tecnología,
    especialmente con el uso de <span class="text-theme-remark"
      >inteligencia artificial</span
    >.
  </span>
</section>
