<section class="h-full">
    <div class="flex justify-center items-center h-full p-8">
        <span class="text-[1rem] text-text-light2 text-wrap">
            A mis abuelos les digo que soy informático,<br>
            para los entendidos: <i class="italic text-remark">Full-stack Salesforce Developer</i><br><br>
            Me focalizo en optimizar procesos de venta formando un nodo entre negocio y tecnología, especialmente con el uso de <span class="text-remark">inteligencia artificial</span>.
        </span>
    </div>

</section>
