<section class="flex h-full items-center justify-center p-6">
  <span class="text-theme-text-light2 overflow-auto text-wrap">
    <img
      class="float-left mr-4 size-21"
      src="/images/profile.webp"
      alt="Foto de perfil"
      style="shape-outside: circle(50%); clip-path: circle(50%);"
    />
    A mis abuelos les digo que soy informático, para los entendidos: <i
      class="text-theme-remark italic">Full-stack Salesforce Developer</i
    ><br /><br />
    Me focalizo en optimizar procesos de venta formando un nodo entre negocio y tecnología,
    especialmente con el uso de <span class="text-theme-remark"
      >inteligencia artificial</span
    >.
  </span>
</section>
