---
import "/src/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header.astro";

const { title = "Adrián Palomo | Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#17AFFF" />
    <meta
      name="description"
      content="Portfolio personal de Adrián Palomo - Desarrollador Salesforce Full Stack"
    />
    <meta
      name="keywords"
      content="desarrollador, programador, full stack, portfolio, web development, salesforce developer, javascript developer, platform developer, salesforce admin, salesforce consultant, LWC, Apex, Salesforce"
    />
    <meta name="author" content="Adrián Palomo" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://adrianpalomo.com/" />
    <meta property="og:title" content="Adrián Palomo | Portfolio" />
    <meta property="og:site_name" content="Adrián Palomo | Portfolio" />
    <meta
      property="og:description"
      content="Portfolio personal de Adrián Palomo - Desarrollador Salesforce Full Stack"
    />
    <meta property="og:image" content="https://www.adrianpalomo.com/og.webp" />
    <meta property="og:locale" content="es_ES" />

    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Adrián Palomo" />

    <!-- Microsoft -->
    <meta name="msapplication-TileColor" content="#17AFFF" />
    <meta name="msapplication-config" content="none" />

    <link rel="icon" type="image/png" href="/images/Fav.webp" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="flex min-h-dvh w-full justify-center bg-[url(/src/assets/bg5.svg)] bg-cover bg-fixed bg-center bg-no-repeat"
  >
    <div
      class="flex max-w-xl flex-col items-center gap-6 p-6 md:max-w-4xl lg:max-w-5xl xl:w-7xl xl:max-w-7xl"
    >
      <div class="flex h-[95px] w-full justify-center">
        <Header />
      </div>

      <div class="flex w-full justify-center">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
  }

  @media (hover: none) {
    .body {
      background-size: 100vw 100vh;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: -1000;
    }
  }
</style>
