---
import "/src/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header.astro";

const { title = "Adrián Palomo | Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/Fav.webp" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div
      class="flex flex-col h-full w-full gap-6 p-6 bg-[url(/src/assets/rainbow-vortex.svg)] bg-cover bg-center bg-gradient-to-br from-blue-700 to-black text-theme-text-light"
    >
      <div class="flex h-2/12 w-full">
        <Header />
      </div>

      <div class="flex h-10/12 w-full">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
